{% extends "app/layout.html" %}

{% block content %}

<h2 class="title_site" style="text-align: center;">{{ title }}</h2>

<div class="block_text" style="width: calc(100vw - 40%);">
    <address class="text" style="margin-right: 10%">
        Bookland<br />
        St. Petersburg, Vereyskaya, 18<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address class="text">
        <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>


{% endblock %}
