{% extends "app/layout.html" %}

{% block content %}
    <div class="change_view" style="width:max-content;">
        {% for book in books %}
            <div style="display:flex">
                <p class="text">{{book.books.title}}</p>
                <p class="text">{{book.books.author}}</p>
                <p class="text">Количество: {{book.number}}</p>
            </div>
        {% endfor %}
        <hr/>
        <form method="POST" >
            {% csrf_token %}
            <div style="display:flex">
                <div style="margin-right: 25px">
                    <div class="form-group">
                        <label for="id_username" class="control-label" style="margin-right: 10%">Имя пользователя</label>
                        <div style="width: 70%; min-width: 50%">
                            {{ form.username }}
                        </div>
                    </div>       
                    <div class="form-group">
                        <label for="id_username" class="control-label" style="margin-right: 10%">Почта</label>
                        <div style="width: 70%; min-width: 50%">
                            {{ form.email }}
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="id_username" class="control-label" style="margin-right: 10%">Адрес</label>
                        <div style="width: 70%; min-width: 50%">
                            {{ form.address }}
                        </div>
                    </div>       
                    <div class="form-group">
                        <label for="id_password" class="control-label" style="margin-right: 10%">Номер карты</label>
                        <div style="width: 70%; min-width: 50%">
                            {{ form.card_number }}
                        </div>
                    </div>
                </div>
            </div>
            
            
            <button type="submit" class="save btn btn-default"> Заказать </button>                
        </form>
    </div>
{% endblock %}