{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<div class="block_text">
    <div >
        <h2 class="title_site" style="text-align: center;"> {{card.title}} </h2>
        <hr/>
        <div style="display:flex">
            <img src="{{ card.image.url }}" alt="Картинка!" style="min-width: 20%; min-height: 20%; margin-right: 25px"/>
            <div >
                <h2>О книге:</h2>
                <hr/>
                <p class="text" style="text-indent: 40px;">{{card.about}} </p>
                <hr/>
                <h2>Автор: </h2>
                <p class="text">{{card.author}} </p>
                <h2>Жанр: </h2>
                <p class="text">{{card.genre}} </p>
                <h2>Дата публикации: </h2>
                <p class="text">{{card.posted}} </p>
                <h2>Цена: </h2>
                <p class="text">{{card.prise}} рублей </p>
                {% if card.number > 0 %}
                    {% if user.is_authenticated %}
                        {% if number.number > 0 %}
                            <div style="display:flex">
                                <a href="{% url 'downbookView' parametr=card.isbn %}" role="button" type="submit" class="save btn btn-default">Убрать</a>
                                <p class="text" style="margin-left:5px; margin-right:5px">{{number.number}}</p>
                                <a href="{% url 'addBook' parametr=card.isbn %}" role="button" type="submit" class="save btn btn-default">Добавить</a>
                            </div>
                        {% else %}
                            <a href="{% url 'addBook' parametr=card.isbn %}" role="button" type="submit" class="save btn btn-default">Купить</a>
                        {% endif %}
                    {% else %}
                        <h3 class="text"> Чтобы купить книгу авторизуйтесь </h3>
                    {% endif %}
                {% else %}
                    <h3 class="text"> Сейчас эта книга не доступна. Попроьуйте зайти познее </h3>
                {% endif %}
            </div>
            
        </div>
        <div>
            {% if user.is_authenticated %}
                <h3 class="text">Оставить отзыв</h3>
                <form method="POST" >{% csrf_token %}
                    <div>
                        {{form.as_p}}
                        <button type="submit" class="save btn btn-default"> Отправить комментарий </button>
                    </div>
                </form>
            {% else %}
                <h3 class="text"> Для добавления своего комментария, пожалуйста, авторизуйтесь! </h3>
            {% endif %}
            <hr />
            {% for comment in comments %}
                <h5 class="text" style="font-weight: 700;"> {{comment.author}} </h5>
                <p class="text"> {{comment.text|linebreaksbr}} </p>
                <p class="text"> Оценка: {{comment.grade}} из 10 </p>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}