{% extends "app/layout.html" %}
{% load static %}

{% block content %}
    <div>
        <h1 class="title_site" style="text-align: center;">Купить книги можно здесь!</h1>
        <div class="frames_zone">
            <a style="background-image: url({% static 'img/litres.png' %}); border: 1px solid #cfcaca;" class="frames_style" href="https://www.litres.ru/"></a>
            <a style="background-image: url({% static 'img/stroci.png' %}); border: 1px solid #ff0000;" class="frames_style" href="https://stroki.mts.ru/"></a>
            <a style="background-image: url({% static 'img/ozon.png' %}); border: 1px solid #005bff;" class="frames_style"href="https://www.ozon.ru/category/knigi-16500/"></a>
        </div>
    </div>
{% endblock %}